{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3 bg-white p-3 rounded">
    <h1 class="text-center">Login</h1>
    <p class="text-center text-danger"></p>
    
        
        
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <form>
            <!-- Username input -->
            <div class="form-group my-4 px-4">
                <input type="text" id="form2Example1" class="form-control" name="username" placeholder="Username"
                    required />
            </div>

            <!-- Password input -->
            <div class="form-group my-4 px-4">
                <input type="password" id="form2Example2" class="form-control" name="password" placeholder="Password"
                    required />
            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary btn-block mb-4 rounded-pill">Sign in</button>
            </div>
        </form>

    </form>
</div>

{% endblock %}