body {
    background: url(media/background.jpg);
    font-family: 'Merriweather', serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background-color: #e3f2fd;
}


@media (max-width: 768px) {
    .background-image {
        background-size: contain;
    }
}

#row:hover {
    background-color: #e3f2fd;
}